{% extends "index.html" %}
{% block content %}
<div class="main">  
    <nav class="header">
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo logo">Yummy Recipes</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            <li><a href="/profile"><i class="material-icons left">account_circle</i>{{ user['username'] }}</a></li>
            <li><a href="/logout" class="btn waves-effect waves-light" href="buttons.html">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
            <li><a href="/profile"><i class="material-icons left">account_circle</i>{{ user['username'] }}</a></li>
            <li><a href="/logout" class="btn waves-effect waves-light" href="buttons.html">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-container">
        <div class="row">
            <div class="col s12">
                <div class="title">Recipe Categories</div>
            </div>
        </div>
        <div class="row">
            {% for category in categories %}
            <div class="col s12 m6 l4">
                <div class="card category-card">
                    <div class="card-content">
                        <span class="card-title"><strong>{{ category['category_name'] }}</strong></span>
                        {% if category['number_of_recipes'] == 1 %}
                        <p>{{ category['number_of_recipes'] }} recipe available</p>
                        {% else %}
                        <p>{{ category['number_of_recipes'] }} recipes available</p>
                        {% endif %}
                    </div>
                    <div class="card-action">
                        <a href="/recipes?category_id={{ category['category_id'] }}">Recipes</a>
                        <a href="/update_category?category_id={{ category['category_id'] }}">Edit</a>
                        <a href="/delete_category?category_id={{ category['category_id'] }}">Delete</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col s12 center-align">
                    <p>No categories have been added yet.</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="fixed-action-btn add">
            <a href="/create_category" class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <div class="footer2">
                &copy; 2017 Yummy Recipes
            </div>
        </div>
    </div>
</div>
{% endblock %}
