{% extends "index.html" %}
{% block content %}
<div class="main">  
    <nav class="header">
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo logo">Yummy Recipes</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            <li><a href="/profile"><i class="material-icons left">account_circle</i>{{ user['username'] }}</a></li>
            <li><a href="/logout" class="btn waves-effect waves-light" href="buttons.html">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
            <li><a href="/profile"><i class="material-icons left">account_circle</i>{{ user['username'] }}</a></li>
            <li><a href="/logout" class="btn waves-effect waves-light" href="buttons.html">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-container">
      <div class="row">
        <div class="col s12">
          <div class="title">Delete Recipe</div>
        </div>
      </div>
      <div class="row form-body">
        <form class="col s12" action="/delete_recipe?category_id={{ category_id }}&recipe_id={{ recipe_id }}" method="post" >
          <div class="row">
              <div class="col s12">
                  <p>Recipe <strong>{{ recipe_name }}</strong> will be deleted.</p>
              </div>
          </div>
          <div class="row">
              <div class="col s12">
                <button class="waves-effect waves-light btn-large" type="submit" name="action">DELETE
                </button>
              </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <div class="footer2">
                &copy; 2017 Yummy Recipes
            </div>
        </div>
    </div>
</div>
{% endblock %}