{% extends "index.html" %}
{% block content %}
<div class="main">  
    <nav class="header">
        <div class="nav-wrapper">
            <a href="/recipes" class="brand-logo logo">Yummy Recipes</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/recipes"><strong>Recipes</strong></a></li>
                <li><a href="/categories"><strong>Categories</strong></a></li>
                <li><a href="/logout" class="btn waves-effect waves-light" href="buttons.html">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-container">
      <div class="row">
        <div class="col s12">
          <div class="title">Delete Recipe Category</div>
        </div>
      </div>
      <div class="row form-body">
        <form class="col s12" action="/delete_category?item_no={{ item_no }}" method="post" >
          <div class="row">
              <div class="col s12">
                  <p>Category <strong>{{ category_name }}</strong> will be deleted.</p>
              </div>
          </div>
          <div class="row">
              <div class="col s12">
                <button class="waves-effect waves-light btn-large" type="submit" name="action">DELETE
                </button>
              </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <div class="footer2">
                &copy; 2017 Yummy Recipes
            </div>
        </div>
    </div>
</div>
{% endblock %}