{% extends "index.html" %}
{% block content %}
<div class="main">            
    <div class="caption logo">
        Yummy Recipes
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="title">Login</div>
            </div>
        </div>
        {% if new_user %}
        <div class="center-align green lighten-1"><p>Your user account has been created</p></div>
        {% elif failed_login %}
        <div class="center-align red lighten-1"><p>The email/password entered is invalid</p></div>
        {% endif %}
        <div class="row form-body">
            <form class="col s12" action="/login" method="post" >
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="email" value="{{ email }}">
                        <label for="email">Email address</label>
                        {% if validation_msgs and (validation_msgs[0] != 'Valid') %}
                        <div class="error-msg">{{ validation_msgs[0] }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" name="password" value="{{ password }}">
                        <label for="password">Password</label>
                        {% if validation_msgs and (validation_msgs[1] != 'Valid') %}
                        <div class="error-msg">{{ validation_msgs[1] }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="waves-effect waves-light btn-large red" type="submit" name="action">LOGIN</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <div class="footer2">
                &copy; 2017 Yummy Recipes
            </div>
        </div>
    </div>
</div>
{% endblock %}