{% extends "index.html" %}
{% block content %}
<div class="main">            
    <div class="caption logo">
        Yummy Recipes
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="title">Login</div>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div class="center-align green lighten-1"><p>{{ message }}</p></div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if form.error %}
        <div class="center-align red lighten-1"><p>{{ form.error }}</p></div>
        {% endif %}
        <div class="row form-body">
            <form class="col s12" action="/login" method="post" >
                {{ form.csrf_token }}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.username }}
                        {{ form.username.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.password }}
                        {{ form.password.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="waves-effect waves-light btn-large red" type="submit" name="action">LOGIN</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <div class="footer2">
                &copy; 2017 Yummy Recipes
            </div>
        </div>
    </div>
</div>
{% endblock %}