{% extends "index.html" %}
{% block content %}
<div class="main">  
    <nav class="header">
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo logo">Yummy Recipes</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            <li><a href="/profile"><i class="material-icons left">account_circle</i>{{ user[1] }}</a></li>
            <li><a href="/logout" class="btn waves-effect waves-light" href="buttons.html">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
            <li><a href="/profile"><i class="material-icons left">account_circle</i>{{ user[1] }}</a></li>
            <li><a href="/logout" class="btn waves-effect waves-light" href="buttons.html">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-container">
        <div class="row">
            <div class="col s12">
                <div class="title">Profile</div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card category-card">
                    <div class="card-content">
                        <p>
                            <strong>Full name</strong><br/>
                            {{ user[1] }} {{ user[2] }}
                        </p>
                        <br/>
                        <p>
                            <strong>Email address</strong><br/>
                            {{ user[3] }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <div class="footer2">
                &copy; 2017 Yummy Recipes
            </div>
        </div>
    </div>
</div>
{% endblock %}
