{% extends "index.html" %}
{% block content %}
<div class="main">
    <nav class="header">
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo logo">Yummy Recipes</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            <li><a href="/profile"><i class="material-icons left">account_circle</i>{{ user['username'] }}</a></li>
            <li><a href="/logout" class="btn waves-effect waves-light" href="buttons.html">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
            <li><a href="/profile"><i class="material-icons left">account_circle</i>{{ user['username'] }}</a></li>
            <li><a href="/logout" class="btn waves-effect waves-light" href="buttons.html">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-container">
        <div class="row">
            <div class="col s12">
                <div class="title">{{ category['category_name'] }}</div>
            </div>
        </div>
        {% if recipes %}
        <div class="row">
            <div class="col s12">
                <ul class="collection with-header">
                    {% for recipe in recipes %}
                    <li class="collection-item">
                        <div>
                            <a href="/recipe_details?category_id={{ category['category_id'] }}&recipe_id={{ recipe['recipe_id'] }}">{{ recipe['recipe_name'] }}</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col s12 center-align">
                <p>No recipes have been added yet.</p>
            </div>
        </div>
        {% endif %}
        <div class="fixed-action-btn add">
            <a href="/create_recipe?category_id={{ category['category_id'] }}" class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <div class="footer2">
                &copy; 2017 Yummy Recipes
            </div>
        </div>
    </div>
</div>
{% endblock %}
